:root { /*  main  */
    --background: #dcffd3;
    --card: #A7E9AF;
    --card-border: #99CEA8;
    --title: #75B79E;
}

:root { /*  bonus PL    */
    --footer: #75B79E;
}

:root {
    --largura: 351px;
    --altura: var(--largura)*1.25px;
    --teste: 10;
}

:root { /*  hover   */
    --hover-card: #79e786;
}