@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

.main-container {
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top {
    padding: 40px;
    font-size: 56px;
    color: var(--title);
    text-align: center;
}

.mesaDeJogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 47px;
    width: 85%;
    height: 75%;
}

.card {
    width: 128px;
    height: 160px;

    border-radius: 5px;
    margin-right: 31px;
    margin-bottom: 31px;
    background-color: var(--card);
    border: var(--card-border) solid 0.5px;
    border-radius: 5px;

    display: flex;
    justify-content: center;

    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s;
}

.card:hover {
    background-color: var(--hover-card);
}

.face{
    width: 90%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    backface-visibility: hidden;
    position: absolute;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}

.flip:hover {
    background-color: var(--card);
}

img {
    width: 100%;
}

.base {
    width: 100%;
    height: 90px;
    padding: 25px;

    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer {
    font-size: 18px;

    display: flex;
    align-items: center;

    color: var(--title);
}

.footer p{
    margin: 0px 30px 0px 0px;
}

.footer ion-icon {
    margin: 0px 10px;
    font-size: 30px;
    color: var(--title);
}
  
@media (max-width: 1270px) {
    .top h1 {
        font-size: 100%;
        max-width: 100%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
        margin-top: 15px;
    }

    .card {
        width: 117px;
        height: 146px;
    }
}